// $primaryColor = #409EFF;

#app [class|=el] {
  color: #354052;
}

// // 按钮 button
// #app .el-button--text {
//   color: $primaryColor;
// }

// #app .el-button--default {
//   background: none;
//   border-color: #D8DFE5;
//   opacity: 1;
// }
// #app .el-button--default:hover {
//   border-color: $primaryColor;
//   opacity: 0.7;
//   color: $primaryColor;
// }
// #app .el-button--default:active {
//   border-color: $primaryColor;
//   opacity: 1;
//   color: $primaryColor;
// }
// #app .el-button--primary {
//   background: $primaryColor;
//   border-color: $primaryColor;
// }
// #app .el-button--primary,
// #app .el-button--primary span,
// #app .el-button--primary i, {
//   color: #fff;
// }
// #app .el-button--primary:hover {
//   opacity: 0.7;
// }
// #app .el-button--primary:active {
//   opacity: 1;
// }
// #app .button_group {
//   overflow: hidden;
// }
// #app .button_group .el-button {
//   float: left;
// }
// #app .el-button {
//   padding: 6px 21px;
//   height: 30px;
//   font-weight: 400;
//   margin-right: 5px;
//   // margin-bottom: 10px;
// }
// #app .el-button--text {
//   padding-left: 5px;
//   padding-right: 5px;
//   margin: 0; 
// }
// #app .el-button--text span {
//   color: $primaryColor;
// }

// 表格 table
#app .el-table__empty-block {
  height: auto;
}
#app .el-table th {
  background-color: #DAE9FA;
  padding: 8px 0;
}
#app .el-table th .cell {
  padding: 0 10px;
  font-size: 14px;
}
#app .el-table td {
  padding: 7px 0;
}
#app .el-table td .cell {
  padding: 0 10px;
  font-size: 14px;
}
#app .el-table td .cell .el-dropdown {
  margin-left: 5px;
}
#app .el-table td .cell form {
  margin-left: -5px;
}
#app .el-table td .cell form button {
  font-size: 14px;
}
#app .el-table td .cell form .is-disabled {
  color: #C0CCDA;
}
#app .el-table td:last-child .cell .el-button:first-child {
  padding-left: 0;
}
#app .el-table .el-table__fixed-right-patch {
  background: #DAE9FA;
}
#app .el-table .is-disabled {
  background: none;
  border: none;
}
#app .el-table .is-disabled span {
  color: #C0CCDA;
}

// 对话框 dialog  class="dialog-common"
#app .dialog-common .el-dialog__header {
  background: #707e94;
  padding: 8px 20px 8px;
}
#app .dialog-common .el-dialog__title {
  color: #fff;
  font-size: 14px;
}
#app .dialog-common .el-dialog__close {
  color: #fff;
}
#app .dialog-common .el-dialog__headerbtn {
  top: 12px;
  color: #9ba3af;
}
#app .dialog-common .el-dialog__footer {
  padding: 20px;
  border-top: 1px solid #d8dfe5;
}